
.mdl-dialog.ask-dialog {
	width:50%;
	height: 315px;
	overflow: hidden;
	transition: all 1s ease;
}
 h4.ask-dialog_title {
 	font-size: 2rem;
 	padding: 10px 0 10px;
 	margin-top: 27px;
 }
 .mdl-dialog__content.ask_content {
    padding: 0 40px;
}
.mdl-textfield.ask-textfield {
    width: 100%;
}
.mdl-dialog__actions.ask__actions {
	/*padding-right: 24px;*/
}
.ask__attachment {
	visibility: hidden;
}
.ask-login__dialog > .mdl-textfield {
	width: 100%;
}
.ask-next {

}
.ask-step-two .mdl-button, 
.ask-step-three .mdl-button {
	width: 100%;
} 
.mdl-button.footer-btn {
	border-radius: 0;
	height: 40px;
}

.ask-step-two .mdl-button .material-icons::after {
	content: '',
	margin-right: 10px;
}
.ask-step-three {
    position: relative;
    width: 100%;
    height: 300px;
}
.ask-step-three .step-next {
	position: absolute;
    top: 275px;
    width: 100%;
}
.confirm-block {
	position: absolute;
    top: 260px;
    width: 100%;
    text-align: center;
    z-index: 3;
}

.ask-step-one,
.ask-step-two ,
.ask-step-three ,
.ask-step-four {
	position: relative;
	height: 300px;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
} 
.ask-step-three {
	margin-top: -14px;
}

.ask-step-two form {
	padding-top: 20px;
	padding-bottom: 30px;
}
.ask-step-three .mdl-layout__container,
.ask-step-four .mdl-layout__container {
	margin-bottom: 20x;
}
.step-next {
	z-index: 2;
}
.mdl-button.logo {
	width: 56px;
}
.left-logo, .right-content {
	display: inline-block;
	box-sizing: border-box;
	float: left;
}
.left-logo {
	width: 30%;
    margin-top: 65px;
    padding-left: 40px;
}
.right-content {
	width: 70%;
    padding-top: 30px;
}
dialog.mdl-dialog {
	padding: 0;
}
.ask_content {
	padding: 1em;
}
.table-wrapper {
	padding:30px;
	box-sizing: border-box;
}
.table-wrapper table {
	width: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
}
.confirm-block .mdl-button:last-of-type {
	margin-left: 20px;
}
